---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="min-h-screen flex flex-col justify-center items-center bg-gray-100">
    <h2 class="text-4xl font-bold mb-4">Bienvenido a Cuba Tattoo Studio</h2>
    <p class="max-w-prose text-center">Arte en la piel, contado en cada trazo.</p>
  </section>
</Layout>
