---
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuba Tattoo Studio</title>
  </head>
  <body class="bg-white text-black">
    <header class="p-4 border-b border-gray-300">
      <h1 class="text-2xl font-bold">Cuba Tattoo Studio</h1>
    </header>
    <main>
      <slot />
    </main>
    <footer class="p-4 border-t border-gray-300 text-center">
      &copy; 2025 Cuba Tattoo Studio
    </footer>
  </body>
</html>
